# Instagram Session Cookie (required)
# Get these from Chrome DevTools → Application → Cookies → www.instagram.com
IG_SESSION_ID=79635847399%3ABMvunP1iqF6RjX%3A6%3AAYggjVC0qHlPzuAEsAgSnEq4mxcffZOOSnsF328ZgwQ
IG_CSRF_TOKEN=1j0ycyc3hjXkf6A604L6I79cAG8isZn9
IG_DS_USER_ID=79635847399
